
.container {
	background: url('images/color-gradient-1uw.jpg');
    padding: 20px;
    width: 40%;
    margin-top: 2%;
}

span
{
    color: white;
}

#chat_box
{
/*    width: 90%;*/
    height:100%;
    margin-top: 4px;
}
.form-group
{
    margin-bottom: 10px;
    margin-top: 5px;
    color: white;
}


body {
  background: linear-gradient(267deg, #2a27bf, #8827bf, #bf2733);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 9s ease infinite;
  -moz-animation: AnimationName 9s ease infinite;
  animation: AnimationName 9s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
